<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width", initial-scale=1.0"> 
	</head>

	<body class="about_page">
		<div class="row">
			<div class="col-4">
				<img src="https://image.ibb.co/nvz3Bb/me.jpg" alt="me" border="0">
			</div>
			<div class="col-8">
				<h2>About Me</h2>
				<br>
				<p>My name is Holly Calloway and I'm a Web Developer <br><br>
					
					I am a current student at Franklin University. I'm pursuing a <br>Bachelor's Degree 
					in Computer Science with a minor in Web Development. <br>
					My expected graduation is in December 2018. <br><br>

					My husband and I live in Columbus, OH with our two precious dogs. <br>
					Gizmo, a pug, and Buckeye, a pomeranian.  <br><br>

		 			I built this website using Ruby on Rails. <br>
					It is hosted via Heroku.<br><br>

					<%=link_to "http://rubyonrails.org/", target: "_blank" do %>
						<img src="https://image.ibb.co/cvOeJm/Asset_9.png" alt="Asset_9" border="0" id="logo_ruby">
					<% end %>

					<%=link_to "https://www.heroku.com/", target: "_blank" do %>
						<img src="https://image.ibb.co/bR3PjR/Asset_10.png" alt="Asset_10" border="0">
					<% end %>

				</p>
				
				</div>
			</div>
	
	
	</body>
</html>
	
