<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	</head>

	<body class="about_page">
		<div class="row">
			<div class="col-sm-8">
				<h2>About Me</h2>
				<br>
				<p>Hi Interwebs! <br><br>
					My name is Holly Calloway and I am the developer behind this website - Our Family's Facebook. <Br>
					This project is designed to be a place for my family to share pictures, stories, and <br>
					laughter with each other. <br><br>

					I am a current student at Franklin University. <br>
					I'm pursuing a bachelor's in Computer Science with a minor in Web Development. <br>
					My expected graduation is in December 2018. <br><br>

					I built this website using Ruby on Rails. <br>
					It is hosted via Heroku.<br>
					During this project, I also had the chance to learn and improve my skills for:
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>SQL</li>
						<li>AngularJS</li>
						<li>Node.js</li>
					</ul>

					My husband and I live in Columbus, OH with our two precious dogs. <br>
					Gizmo, a pug, and Buckey, a pomeranian.  <br><br>
					<a href="https://ibb.co/bUdu1b"><img src="https://thumb.ibb.co/bUdu1b/12986938_10201552865539804_5848723197250260172_n.jpg" alt="12986938_10201552865539804_5848723197250260172_n" border="0" id="picture"></a><br><br>

		 			Well, that's it!<br>
		 			Thank you for visiting my site and be sure to come back to checkout what's new <br>
		 			as I keep learning the art of Web Development. <br><br><br>


				</p>
				<p class="signature">- Holly Calloway -</p>
			</div>
			<div class="col-sm-4">
				<img src="https://image.ibb.co/nvz3Bb/me.jpg" alt="me" border="0">
			</div>
		</div>	
	</body>
</html>
	
