<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width", initial-scale="1.0"> 
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	</head>

	<body class="home_page">
		<div class="row">
			<div class="col-8" id="home_col-8">
			<h3 id="home_current">Current Project</h3><br>
			<p>Grave Registry Application (GRA)<br><br>

				Working on a project for my  Computer Science Practicum Course - COMP 294 (Franklin University).
				I’m in a team of three students who are currently building and testing an Android application. This
				application is being designed to help improve the registering and updating of military gravesites 
				across the country. Instead of volunteers having to physically mail in their additions, they will be 
				able to access the national database remotely now. Our application will be able to store information 
				in a MySQL database for genealogical or climate research.  <br><br>

				The GRA is being developed using Android Studio 3.0.1 with the Java language. We are also utilizing 
				PHP and the XAMPP Apache Server to connect to the MySQL database.<br><br>

				<%=link_to "https://www.dropbox.com/s/wllzwfkxvb0xwa2/S18GR_SRSv1.docx?dl=0", target: "_blank" do %>
						Software Requirements Document
				<% end %>
				<br><br>
				<%=link_to "https://www.dropbox.com/s/r4zntes5qcff78y/S18GR_SDSv1.docx?dl=0", target: "_blank" do %>
					Software Design Document
				<% end %>
				<br><br>
				<p><img src="https://image.ibb.co/nHhiFS/GRA_1.jpg" alt="GRA_1" border="0">
				<img src="https://image.ibb.co/i90627/GRA.jpg" alt="GRA" border="0">
				</p>					
			</p>
			</div>

			<div class="col-4" id="home_col-4">
				<h3 id="home_news">Interesting News/Articles</h3><br>
				<p><%=link_to "https://www.pbs.org/newshour/show/how-3d-printing-is-spurring-revolutionary-advances-in-manufacturing-and-design", target: "_blank" do %>
					How 3D Printing is Spurring Revolutionary Advances in Manufacturing and Design
				<% end %><br><br>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Adl1Sn86ojs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</p>
				<br>
				<p><%=link_to "https://techcrunch.com/2018/03/24/facebook-was-warned-about-app-permissions-in-2011/", target: "_blank" do %>
					Facebook Was Warned About App Permissions in 2011
				<% end %><br><br>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ZNCAUcoA6wU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</p>


			</div>
		</div>

	</body>
</html>
