<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width", initial-scale="1.0"> 
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	</head>

	<body class="resume_page">
		<div class="row">
			<div class="col-8" id="resume_col-8">
				<h1 id="resume_name">HOLLY CALLOWAY</h1>
				<h2 id="resume_title">WEB DEVELOPER / IT SPECIALIST</h2>
				<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>ABOUT ME</h3>
					<p id="resume_aboutMe_text">
						My name is Holly Calloway and I'm a Web Developer.I'm currently seeking a position <br>
						where my work ethic and technical skills will allow me to make an immediate contribution <br>
						as an integral part of a growing company.
					</p>

				<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>EXPERIENCE</h3>
					<p id="resume_experience_time">
						2017 - Present
					</p>

					<p id="resume_experience_title">
						Safelite - IT Specialist
					</p>

					<p id="resume_experience_safelite">
						Provides first level support for both Safelite employees and external customers. Properly <br>
						escalates unresolved queries to next level of support. Efficiently track, route, and/or <br>
						redirect problems to correct departments and resources.Follow up with customers, provide <br>
						feedback, and see issues through to their resolution. Recommended and oversaw procedure <br>
						modifications and improvements<br>
					</p>

					<p id="resume_experience_time">
						2008 - 2017
					</p>

					<p id="resume_experience_title">
						Drummond Financial Group - District Manager
					</p>

					<p id="resume_experience_drummond">
						Dealt directly with customers; including fielding inbound and outbound phone calls, helping <br>
						clients in-person, and handling all complaints within the Columbus market. Efficiently <br>
						de-escalated all customer and employee issues. Trained four fellow District Managers and over<br>
						 fifty customer service representatives to ensure client satisfaction on every level. Structured <br>
						 and implemented new innovative programs within the company to improve customer and employee <br>
						 retention. Led the state in overall growth and profitability for two years. Also, developed many <br>
						 web-based and Java software applications used by all Ohio employees, to increase store productivity<br>
						 and provide error-free information to our customers. Provided local network and hardware troubleshooting <br>
						 for Central Ohio.<br>
					</p>
				<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>EDUCATION</h3>
					<p id="resume_experience_time">
						2015 - 2018
					</p>

					<p id="resume_experience_title">
						Franklin University - Bachelor of Computer Science / Minor in Web Development
					</p>

			</div>
			<div class="col-4" id="resume_col-4">
				<img src="https://image.ibb.co/erTEFn/Asset_4.png" alt="Asset_4" border="0">
			</div>
		</div>
	</body>
	</html>
