<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width", initial-scale="1.0"> 
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	</head>

	<body class="resume_page">
		<div class="row">
			<div class="col-8" id="resume_col-8">
				<h1 id="resume_name">HOLLY CALLOWAY</h1>
				<h2 id="resume_title">WEB DEVELOPER / IT SPECIALIST <br><br>
				<%=link_to "https://www.linkedin.com/in/holly-calloway/", target: "_blank" do %>
						<i class="fab fa-linkedin-in"></i>
						<% end %>
				<%=link_to "https://github.com/hollyjoc", target: "_blank" do %>
				<i class="fab fa-github"></i>
					<% end %>

					<%=link_to "http://www.hollycalloway.com/contacts/new", target: "_blank" do %>
				<i class="fas fa-envelope"></i>
					<% end %></h2>


				<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>Overview</h3>
					<p id="resume_overview_text">
						My name is Holly Calloway and I'm an inspiring Web & Software Developer. I'm currently seeking a position 
						where my work ethic and technical skills will allow me to make an immediate contribution 
						as an integral part of a growing company.
					</p>

				<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>EXPERIENCE</h3>
					<p id="resume_experience_time">
						2017 - Present
					</p>

					<p id="resume_experience_title">
						Safelite - IT Specialist
					</p>

					<p id="resume_experience_safelite">
						Provides first level support for both Safelite employees and external customers. Properly 
						escalates unresolved queries to next level of support. Efficiently track, route, and/or 
						redirect problems to correct departments and resources.Follow up with customers, provide 
						feedback, and see issues through to their resolution. Recommended and oversaw procedure 
						modifications and improvements
					</p>

					<p id="resume_experience_time">
						2008 - 2017
					</p>

					<p id="resume_experience_title">
						Drummond Financial Group - District Manager
					</p>

					<p id="resume_experience_drummond">
						Dealt directly with customers; including fielding inbound and outbound phone calls, helping 
						clients in-person, and handling all complaints within the Columbus market. Efficiently 
						de-escalated all customer and employee issues. Trained four fellow District Managers and over
						 fifty customer service representatives to ensure client satisfaction on every level. 
						 <br>Structured 
						 and implemented new innovative programs within the company to improve customer and employee 
						 retention. Led the state in overall growth and profitability for two years. Also, developed many 
						 web-based and Java software applications used by all Ohio employees, to increase store productivity
						 and provide error-free information to our customers. Provided local network and hardware troubleshooting 
						 for Central Ohio.
					</p>
				<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>EDUCATION</h3>
					<p id="resume_experience_time">
						2017 - Spring 2019
					</p>

					<p id="resume_experience_title">
						Franklin University - Bachelor of Computer Science / Minor in Web Development
					</p>

					<p id="resume_experience_safelite">
						3.70 GPA<br>
						Deans List <br>
					</p>

					<p id="resume_experience_time">
						2015 - 2018
					</p>

					<p id="resume_experience_title">
						Columbus State Community College
					</p>

					<p id="resume_experience_drummond">
						3.87 GPA <br>
						Deans List
					</p>
			</div>


			<div class="col-4" id="resume_col-4">
				<img src="https://image.ibb.co/erTEFn/Asset_4.png" alt="Asset_4" border="0">
				<p>
					<h3 id="resume_subTitle"><i class="fas fa-angle-double-right"></i>SKILLS</h3>
				</p>

				<p>Microsoft Office (Word, Excel, Access, Visio, etc.)
				<div class="container" id="resume_container">
					<div class="skills ms">&nbsp</div>
				</div>
				</p>

				<p>Adobe Creative Suite (Illustrator, Dreamweaver, etc.)
				<div class="container" id="resume_container">
					<div class="skills adobe">&nbsp</div>
				</div>
				</p>

				<p>Window OS
				<div class="container" id="resume_container">
					<div class="skills window">&nbsp</div>
				</div>
				</p>

				<p>Linux OS
				<div class="container" id="resume_container">
					<div class="skills linux">&nbsp</div>
				</div>
				</p>

				<p>MAC OS
				<div class="container" id="resume_container">
					<div class="skills mac">&nbsp</div>
				</div>
				</p>

				<p>Java
				<div class="container" id="resume_container">
					<div class="skills java">&nbsp</div>
				</div>
				</p>

				<p>Python
				<div class="container" id="resume_container">
					<div class="skills python">&nbsp</div>
				</div>
				</p>

				<p>Ruby on Rails
				<div class="container" id="resume_container">
					<div class="skills ruby">&nbsp</div>
				</div>
				</p>

				<p>HTML
				<div class="container" id="resume_container">
					<div class="skills html">&nbsp</div>
				</div>
				</p>

				<p>CSS
				<div class="container" id="resume_container">
					<div class="skills html">&nbsp</div>
				</div>
				</p>

				<p>JavaScript / jQuery
				<div class="container" id="resume_container">
					<div class="skills javaScript">&nbsp</div>
				</div>
				</p>

				<p>MySQL
				<div class="container" id="resume_container">
					<div class="skills mysql">&nbsp</div>
				</div>
				</p>

				<p>Oracle 11g
				<div class="container" id="resume_container">
					<div class="skills oracle">&nbsp</div>
				</div>
				</p>

				<p>PHP
				<div class="container" id="resume_container">
					<div class="skills php">&nbsp</div>
				</div>
				</p>

			</div>
		</div>
	</body>
	</html>
