@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
	box-sizing: border-box;
}
body {
	background: #FFFFFF;
}


.navbar.navbar-inverse.navbar-static-top {
	padding: 1%;
	background: #6BBE9F;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}


.fa-group {
	color: #FFFFFF;
}

.col-4{
	width: 25%;
	float: left;
	padding-top: 10%;
	padding-left: 10%;
}

.col-8{
	width: 75%;
	padding-top: 10%;
	padding-left: 15%;
	float: left;
}


#logo_ruby{
	margin-left: 8%;
	margin-right: 2%;
}

.about_page {
	color: #B3B3B3;
	font-size: 14px;
	font-family: Lato;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

@media only screen and (max-width: 1100px) {
	[class*="col-"] {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-left: 10%;

	}
	.col-8
	{
		padding-top: 0%;
	}
	
}





