@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
	box-sizing: border-box;
}

body {
	background: #FFFFFF;
}

.navbar.navbar-inverse.navbar-static-top {
	padding: 1%;
	border-color: #6BBE9F;
	background: #6BBE9F;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

#about_col-4 {
	width: 25%;
	float: left;
	padding-top: 10%;
	padding-left: 10%;
}

#about_col-8 {
	width: 75%;
	padding-top: 10%;
	padding-left: 15%;
	float: left;
}


#logo_ruby {
	margin-left: 8%;
	margin-right: 4%;
}

.about_page {
	color: #B3B3B3;
	font-size: 14px;
	font-family: Lato;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

#about_title {
	color: #6BBE9F;
} 

.fa-linkedin-in {
	margin-left: 6%;
	margin-right: 3%;
}

.fa-envelope {
	margin-left: 3%;
}

.fa-linkedin-in:hover, .fa-envelope:hover, .fa-github:hover {
	color: #6BBE9F;
}

#resume_col-8 {
	width: 50%;
	float: left;
	margin-right: 25%
}

#resume_col-4 {
	width: 25%;
	float: left;

}

#resume_name {
	font-size: 50px;
	font-weight: bold;
	color: #6BBE9F;
	letter-spacing: 4px;
}

#resume_title {
	font-size: 25px;
	font-weight: lighter;
	color: #000000;
	letter-spacing: 1px;
	padding-bottom: 5%;
}

#resume_subTitle {
	font-size: 20px;
	font-weight: bold;
	color: #6BBE9F;
	letter-spacing: 1px;
	display:inline;
}

.resume_page {
	color: #B3B3B3;
	font-family: Lato;
	font-style: normal;
	font-variant: normal;
}

.fas.fa-angle-double-right {
	color: #6BBE9F;
	display:inline;
	padding-right: 2%;
}

#resume_overview_text {
	padding-top: 1%;
	padding-bottom:2%;
}


#resume_experience_time {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 1%;
	color: #000000;
}

#resume_experience_title {
	color: #000000;
}

#resume_experience_safelite {
	padding-bottom: 1%;
}

#resume_experience_drummond{
	padding-bottom: 2%;
}

#resume_container {
	width: 100%;
	background-color: #ddd;
	padding: 0%;
}

.skills {
	text-alight: right;
	padding-right: 20px;
	line-height: 10px;
	color: #FFFFFF;
}

.java {
	width: 90%;
	background-color:#6BBE9F;
}

.javaScript {
	width: 70%;
	background-color:#6BBE9F;
}

.python {
	width: 70%;
	background-color:#6BBE9F;
}

.html {
	width: 80%;
	background-color:#6BBE9F;
}

.ruby {
	width: 70%;
	background-color:#6BBE9F;
}

.mysql {
	width: 75%;
	background-color: #6BBE9F;
}

.oracle {
	width: 75%;
	background-color: #6BBE9F;
}

.php {
	width: 55%;
	background-color: #6BBE9F;
}

.ms {
	width: 95%;
	background-color: #6BBE9F;
}

.adobe {
	width: 75%;
	background-color: #6BBE9F;
}

.window {
	width: 95%;
	background-color: #6BBE9F;
}

.linux {
	width: 95%;
	background-color: #6BBE9F;
}

.mac {
	width: 95%;
	background-color: #6BBE9F;
}

@media only screen and (max-width: 1000px) {
	
	#about_col-4, #about_col-8 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-left: 10%;

	}

	#about_col-8
	{
		padding-top: 0%;
	}

	#resume_col-8 {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-left: 10%;
	}

	#resume_name {
		letter-spacing: 0px;
		font-size: 40px;
		dispay: block;
	}

	#resume_col-4 {
		display: none;
	}
}	